# Skopiuj ten plik jako .env i uzupełnij wartości
# Token: https://discord.com/developers/applications -> Bot -> Reset Token
DISCORD_TOKEN=

# Sekret do nagłówka X-Econizer-Token przy synchronizacji ze stroną WWW
ECONIZER_API_TOKEN=
